.horizontal-section-wrapper {
  & > .title {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin: 20px 0px 10px;
    font-weight: bold;
    width: 100%;

    svg {
      font-size: 15px;
      margin-left: 5px;
      margin-right: auto;
    }

    .view-all {
      font-size: 13px;
      font-weight: 400;
      color: #0099ff;
    }
  }

  .horizontal-items {
    list-style: none;
    padding: 0 0 15px 10px;
    margin: 0;
    width: calc(100% + 20px);
    white-space: nowrap;
    overflow-x: scroll;
    margin-left: -10px;

    & > div {
      margin-right: 15px;
      display: inline-block;
    }
  }
}
